


/*----------------------------
    The file upload form
-----------------------------*/


.drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

.drop a:hover{
    background-color:#0986a3;
}

.drop input{
    display:none;
}

.upload ul{
	margin: 0px;
padding: 0px;
}

.upload ul li{
height: 36px;
position: relative;
width: 133px;
float: left;
list-style-type: none;
border: 1px solid #C5C5C5;
margin-right: 9px;
border-radius: 3px;
padding-left: 6px;
padding-top: 4px;
}

.upload ul li input{
    display: none;
}

.upload ul li p{
width: 127px;
overflow: hidden;
white-space: nowrap;
color: #252424;
font-size: 12px;
/* font-weight: bold; */
position: absolute;
/* top: 20px; */
/* left: 100px; */
margin: 0px;
padding: 0px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
font-family: arial;
}

.upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block; float:left;
}

.upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

.upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 20px;
    right: 33px;
    cursor:pointer;
}

.upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

.upload ul li.error p{
    color:red;
}


/*----------------------------
    The Demo Footer
-----------------------------*/


#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
	
}
.clear{ clear:both;}
canvas {

}​