@charset "utf-8";
/* CSS Document */

input#edit_old_fldr {
  margin-bottom: 10px !important;
}
.r7 td.r8, .r7 td.r9 {
border: none;
border-bottom: 1px solid #e5e5e5;
padding: 14px !important;
padding-left: 17px !important;
}

.r7 td.r8 {
border: none;
border-bottom: 1px solid #e5e5e5;
padding: 14px !important;
padding-left: 17px !important;
padding-top: 20px !important;
}
.add_textbox {
    width: 320px;
    padding: 6px;
    outline: 0px;
}

.r9 > input[type="text"], input[type="password"], input[type="date"]{outline: 0px;
width: 320px;
padding: 6px;}
.account_save {
 font-size: 13px !important;
 color: #fff!important;
 text-align: center!important;

 float: left!important;
 margin-top: 0px !important;
 margin-right: 30px!important;
 line-height: 23px !important;
}
